
html, body {
    background-image: url('https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
padding:0;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover; /* version standardisée */

margin-top: 100px;
    }
    #photo
{
/* margin-left: 80px;
margin-top: 50px; */
width: 90%;
border-left: 10px solid white;
border-right: 10px solid white;
border-top: 10px solid white;
border-bottom: 10px solid white;
box-shadow: 5px 5px 12px black;

-webkit-transform: rotate(10deg) scale(0.75);
transform: rotate(10deg) scale(0.75);
-webkit-transition: 0.2s ease-in-out;
}

#photo:hover
{
-webkit-transform: rotate(0) scale(1);
transform: rotate(0) scale(1);
box-shadow: 10px 10px 30px black;
}

p {
font-size : 25px;
}

.un {
}
.deux {
}
.trois {

}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  
  img{
    cursor: pointer;
    }